/* IMPOSTAZIONI GENERALI */
body {
    margin: 0;
}
/* 
per caricare family font Raleway

font-family: 'Raleway', sans-serif;
*/

/* HEADER */
header {
    width: 100%;
    height: 30vh;
    background-color: #489ec2;
    border-bottom: #337492 ;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    line-height: 50px;
    
}


header > h1 {
    text-transform: uppercase;

}

header > h2 {
    font-variant: small-caps;

}


.name {
    background-color: white;
    color:#489ec2;
}

.desk {
    border: 3em;
    border-color: white;
}

.copertina {
    text-align: center;
    font-family: 'Raleway', sans-serif;

}





/* MAIN */
main h2 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #337492;
    font-size: large;
    font-weight: 700;
    text-transform: uppercase;

}



/* ELEMENTI NEL MAIN */

/* FOOTER */
